<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="">Email</label>
    <app-custom-text-input
    [control]="email"
    [type]="'text'"
    ></app-custom-text-input>

    <label for="">Password</label>
    <app-custom-text-input
    [control]="password"
    [type]="'password'"></app-custom-text-input>
    <button type="submit">Login</button>

    <div class="link-container">
      <span class="link">No account yet?</span>
      <a href="/">Register</a>
    </div>

  </form>
</div>
